@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
@import "effects.css";

.nav {
    background: #000000;
    font-family: 'Recursive', sans-serif;
    font-style: italic;
    display: grid;
    grid-template-columns: 4fr 6fr;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 999; /* thank god this actually works for once */
}

/* 
    Experimental Responsive Design
    Breaks dropdowns near the bottom because of extra 3d requirements
    To be continued later
    @media only screen and (max-width: 750px) {
        .nav {
            grid-template-rows: 3fr 3fr;
            grid-template-columns: none;
            transform-style: preserve-3d;
            position: relative;
        }
        .pages {
            margin-left: 0px; 
            margin-right: 0px;
        }
        .home {
            padding: 0px;
            margin-left: 0px; 
            margin-right: 0px;
            text-align: center;
        }
    }
*/

.home {
    z-index: 1;
    padding: 15px;
    font-size: 16pt;
    color: #ffffff;
    background: #000000;
}

.home > span {
    animation: neon-flicker 1s ease-in-out alternate infinite;
}

.pages {
    margin-left: auto; 
    margin-right: 0px;
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    cursor: pointer;
    background: #000000;
}

.dropdown-content {
    z-index: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 90%;
    transition: 0.3s;
    transform: translate(0,-100%) ;
    box-shadow: 0px 0px 0px black;
    width: 100%;
}

.dropdown-head {
    z-index: 1;
    display: flex;
    background: #000000;
    width: 80pt;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;;
    top: 90%;
    padding-right: 15px;
    padding-left:  15px;
}

.pages > a {
    padding-right: 15px;
    padding-left:  15px;
}

.dropdown-content a {
    background: #000000;
    padding: 15px;
    filter: none;
    mix-blend-mode: screen; /* Needed so the glows from the icons merge additively */
}

.dropdown-content a span {
    filter: none;
}

.dropdown-content .icon {
    mix-blend-mode: screen; /* Needed so the glows from the icons merge additively */
}
 
.dropdown,
.dropdown-content a,
.dropdown-head a,
.pages > a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #ffffff;
    text-decoration: none;
}

.dropdown,
.dropdown-content a,
.pages > a {
    font-size: 14pt;
}

.dropdown-content a {
    font-size: 12pt;
}

.cwd {
    background: rgb(34,34,34) !important;
}

.nav .icon {
    background-color: #0000;
    padding: 0;
    margin: 0px 10px 0px 0px;
    display: inline;
    max-height: 24px;
}

.dropdown > a {
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    transform: translate(0,0) translateZ(-1px);
    box-shadow: 0px 0px 5px black;
}

/* Glow animation stuff */
.dropdown:hover > a > span,
.dropdown:hover > .dropdown-head > a
{
    filter: var(--neon)
}

.dropdown a:hover * { /* these looked obnoxious with the full glow */
    filter: var(--neon-dim)
}

.nav a span,
.dropdown > a > span,
.dropdown > .dropdown-head > a,
.dropdown a * {
    mix-blend-mode: screen;
    transition: 0.1s cubic-bezier(0.69, 0.02, 0.95, 0.60);
    color: #ffffff;
}

.nav a:hover span,
.dropdown:hover > a > span,
.dropdown:hover > .dropdown-head > a,
.dropdown a:hover * {
    mix-blend-mode: screen;
    transition: 0.2s cubic-bezier(.05,.4,.22,1) !important;
    color: #ffffff;
}
