

section.titleimage {
    background-color: var(--transparent-gray);
    padding: 15px 15px;
    margin: 15px 15px;
    max-width: calc(100% - 60px);
}

.titleimage .title {
    background: #84888a88;
    display: block;
    position: relative;
    font-size: 24px; 
    text-align: center; 
    margin-bottom: 15px;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% + 30px);
    filter: drop-shadow(0 0 4px #000000);
}

.titleimage .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    min-height: 200px;
    max-height: 3in;
    height: 20vw;
}

.icon {
    position: relative;
    width: 100%;
    border: none;
    background: none;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition-timing-function: linear;
    -webkit-transition: 0.4s;
    transition-timing-function: linear;
    transition: 0.4s;
}
.icontitle {
    position: absolute;
    bottom: 5%;
    width: 90%;
    text-align: center;
    transform: translate(5%, 0);
    text-shadow: var(--transparent-gray) 0 0 5px
}

.row > a {
    color: var(--text-color);
    display: inline-block;
    position: relative;
    width: 20%;
    background-color: var(--transparent-gray);
    font-size: calc( min(11pt, calc(2vw -60px) ) );
    line-height: 130%;
}

.row > a:hover > .icon {
    filter: var(--neon-white);
}


