

.titleimage {
    background-color: var(--transparent-gray);
    padding: 15px 15px;
    margin: 15px 15px;
    max-width: calc(100% - 60px);
}

.titleimage .title {
    background: #84888a88;
    display: block;
    position: relative;
    text-align: center; 
    margin-bottom: 15px;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% + 30px);
    filter: drop-shadow(0 0 4px #000000);
    font-size: calc( max(24px, 1.8vh) ); 
}

.titleimage .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    min-height: 200px;
    max-height: 3in;
    height: 20vw;
}

.shortcut {
    position: relative;
    min-width: 100%;
    border: none;
    background: none;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition-timing-function: linear;
    -webkit-transition: 0.4s;
    transition-timing-function: linear;
    transition: 0.4s;
}

.shortcut-title {
    position: absolute;
    bottom: 5%;
    width: 90%;
    text-align: center;
    transform: translate(5%, 0);

    text-shadow:
   -1px -1px 3px var(--gray-t2),  
    1px -1px 3px var(--gray-t2),
    -1px 1px 3px var(--gray-t2),
    1px 1px 3px var(--gray-t2);
}

.row {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.row > a {
    color: var(--text-color);
    display: inline-block;
    position: relative;
    max-width: 20vh;
    background-color: var(--transparent-gray);
    font-size: calc( min(11pt, calc(2vw-60px) ) );
    margin: 2.5px;
    line-height: 130%;
}

.row > a:hover > .shortcut {
    filter: var(--neon-white);
    min-width: calc(100% + min(20px, 10%));
    margin: calc( max(-10px, -5%) );
}

img {
    position: relative;
    box-sizing: border-box;
    margin: 15px;
    margin-top: 0;
}

.code-container {
    background-color: #000000ff;
    margin: 0 15px 15px 15px;
    line-height: 130%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-height: 70vh;
    font-size: 10pt;
    outline: 10px solid black;
    outline-offset: -10px;
    word-wrap: break-word; 
    white-space: pre;
    word-spacing: normal;
}

.code-container::-webkit-scrollbar {
    display: none;
}