@import url('https://fonts.googleapis.com/css?family=Roboto:bold|Roboto:400|Roboto:300');

:root {
    --node-size: min(1.35in, 12vw)
}

.node-container, .line-container {
    height: 100%;
    width: 100%;
    grid-area: inner-div;
    position: relative;
}
  
.grid {
    height: calc( var(--node-size) * 12 + 0.7in );
    display: grid;
    place-items: left;
    grid-template-areas: "inner-div";
    padding: 0.7in;
    background-image: url("/assets/grid.png");
}
  
.node::before {
    content: '';
    display: block;
    padding-top: 100%;
}
  
.node > * {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0; left: 0;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    text-align: center;
    justify-content: center;   
    align-items: center;         
    
    perspective-origin: center;
    border-radius: 25%;
    margin: 0;
}

.node {
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;

    height: calc( var(--node-size) );
    width: calc( var(--node-size) );
    font-family: Roboto;
    backface-visibility: hidden;
    perspective: 20rem;
    -webkit-perspective: 20rem;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;

    position: absolute;
    filter: drop-shadow(0 20px 6px #0000009f);
    box-sizing: border-box;
    transform: translate(calc(-50% - .5px),calc(-50% - .5px));

    transition: opacity 0.1s;
}

.node:not(.static){
    cursor: grab;
    touch-action: none;
}

.node.grabbed {
    cursor: grabbing;
}

/* Front and back shading */
.node > div {

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;

    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.static:hover > div {
    transform: scale(1.05) !important;
    -webkit-transform: scale(1.05) !important;
}


/* Specific properties */
.node > .front {
    text-shadow: 0px 0px 25px #000000, 0px 0px 12px #00000055;
    transform: rotateY(0) translateZ(-1px);
    -webkit-transform: rotateY(0) translateZ(-1px);
    font-size: calc( var(--node-size) * 0.13 )
}

.node:hover > .front {
    transform: rotateY(180deg) translateZ(-1px);
    -webkit-transform: rotateY(180deg) translateZ(-1px);
}

.node > .back {
    transform: rotateY(-180deg) translateZ(-1px);
    -webkit-transform: rotateY(-180deg) translateZ(-1px);
    font-size: calc( var(--node-size) * 0.09 );
    font-weight: 300;
}

.node:hover > .back {
    transform: rotateY(0deg) translateZ(-1px);
    -webkit-transform: rotateY(0deg) translateZ(-1px);
}

.treeline {
    stroke: #fff;
    stroke-width: calc( var(--node-size) * 0.03 );
    animation: fadeIn 0.1s;
}

@keyframes fadeIn {
    from{opacity:0;}
}
@keyframes stroke {
    from{stroke-dashoffset: calc( var(--node-size) * -0.04 + -16px);}
}

.treesvg {
    width: 100%;
    height: 100%;
    position: absolute;
} 

.static > div {
    background-color: #000;
}

.redstone > .front {
    background-image: url('/assets/skilltree/redstone.svg');
}
.redstone > div {
    background-color: #5f2b2b;
}

.mindstorms > .front {
    background-image: url('/assets/skilltree/mindstorms.svg');
}
.mindstorms > div {
    background-color: #4b4b4b;
}

.expression2 > .front {
    background-image: url('/assets/skilltree/expression2.svg');
}
.expression2 > div {
    background-color: #2e2e2e;
}

.lua > .front {
    background-image: url('/assets/skilltree/lua.svg');
}
.lua > div {
    background-color: #242950;
}

.code > .front {
    background-image: url('/assets/skilltree/codeorg.svg');
}
.code > div {
    background-color: #386c6d;
}

.js > .front {
    background-color: #706425;
}
.js > .back {
    background-color: #776b35;
}

.nodejs > .front {
    background-image: url('/assets/skilltree/nodejs.svg');
}
.nodejs > div {
    background-color: #244225;
}

.html > .front {
    background-image: url('/assets/skilltree/html.svg');
}
.html > div {
    background-color: #543026;
}

.css > .front {
    background-image: url('/assets/skilltree/css.svg');
}
.css > div {
    background-color: #27314d;
}

.electron > .front {
    background-image: url('/assets/skilltree/electron.svg');
}
.electron > div {
    background-color: #353d4b;
}

.java > .front {
    background-image: url('/assets/skilltree/java.svg');
}
.java > div {
    background-color: #572629;
}

.c > .front {
    background-image: url('/assets/skilltree/c.svg');
}
.c > div {
    background-color: #263652;
}

.arduino > .front {
    background-image: url('/assets/skilltree/arduino.svg');
}
.arduino > div {
    background-color: #34696d;
}


.illustrator > .front {
    background-image: url('/assets/skilltree/illustrator.svg');
}
.illustrator > div {
    background-color: #5a3c27;
}

.photoshop > .front {
    background-image: url('/assets/skilltree/photoshop.svg');
}
.photoshop > div {
    background-color: #20395d;
}

.gimp > .front {
    background-image: url('/assets/skilltree/gimp.svg');
}
.gimp > div {
    background-color: #496177;
}

.aftereffects > .front {
    background-image: url('/assets/skilltree/aftereffects.svg');
}
.aftereffects > div {
    background-color: #432f5a;
}

.premiere > .front {
    background-image: url('/assets/skilltree/premiere.svg');
}
.premiere > div {
    background-color: #553066;
}

.audacity > .front {
    background-image: url('/assets/skilltree/audacity.svg');
}
.audacity > div {
    background-color: #6a6554;
}

.drums > .front {
    background-image: url('/assets/skilltree/sticks.svg');
}
.drums > div {
    background-color: #55462f;
}


.lego > .front {
    background-image: url('/assets/skilltree/technic.svg');
}
.lego > div {
    background-color: #64412b;
}

.autodesk > .front {
    background-image: url('/assets/skilltree/123d.svg');
}
.autodesk > div {
    background-color: #2b5e68;
}

.knex > .front {
    background-image: url('/assets/skilltree/knex.svg');
}
.knex > div {
    background-color: #3b5040;
}

.woodworking > .front {
    background-image: url('/assets/skilltree/woodworking.svg');
}
.woodworking > div {
    background-color: #695431;
}

.printing > .front {
    background-image: url('/assets/skilltree/printing.svg');
}
.printing > div {
    background-color: #724a33;
}

.blender > .front {
    background-image: url('/assets/skilltree/blender.svg');
}
.blender > div {
    background-color: #5c3821;
}

.sketchup > .front {
    background-image: url('/assets/skilltree/sketchup.svg');
}
.sketchup > div {
    background-color: #684040;
}

.bootstrap > div {
    background-color: #4f2e8e;
}
