@use "vars/base.scss" as base;
@use "../graph/graph.scss" as graph;

.grid {
    padding: 0px;
    height: 70vh;
    background-image: url(base.$base + "/assets/grid.png");

    overflow: hidden;
    
    
}
  
.node {

    // outline: solid; TODO: this actually looks good?

    --scale: 1;

    width: calc( var(--scale) * 48px );
    height: calc( var(--scale) * 48px );
    background-size: contain;
    font-size: calc( var(--scale) * 7px );
    position: absolute;
    line-height: 1;

    translate: -50% -50%;

    .artist {

        &.stack {
            overflow-x: visible;
            overflow-y: visible;
        }
    
        * {
            width: 0;
            height: 100%;
        
            display: flex;
            align-items: center;
    
            justify-content: center;
    
            text-align: center;
    
            left: 50%;
        }
    
        .text-outline {
            -webkit-text-stroke: calc( var(--scale) * 2px ) black;
            pointer-events: none;
        }
    
        .text-main {
            color: white;
            text-decoration: none;
            pointer-events: none;
        }

        img {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            left: 0%;
            border-radius: 9999px;
        }
    
    }

}