@use "vars/base.scss" as base;
@use "vars/globals.scss" as globals;
@use "../graph/graph.scss" as graph;


.grid {
    padding: 0px;
    height: 70vh;
    background-image: url(base.$base + "/assets/grid.png");

    overflow: hidden;   
}
  
.node {

    // outline: solid; TODO: this actually looks good?

    --scale: 1;

    width: calc( var(--scale) * 48px );
    height: calc( var(--scale) * 48px );
    background-size: contain;
    font-size: calc( var(--scale) * 7px );
    position: absolute;
    line-height: 1;

    translate: -50% -50%;

    &.anim-top {
        z-index: 3;
    }

    &.anim-middle {
        z-index: 2;
    }

    .artist {

        &.stack {
            overflow-x: visible;
            overflow-y: visible;
        }
    
        * {
            width: 0;
            height: 100%;
        
            display: flex;
            align-items: center;
    
            justify-content: center;
    
            text-align: center;
    
            left: 50%;
        }
    
        .text-outline {
            -webkit-text-stroke: calc( var(--scale) * 2px ) black;
            pointer-events: none;
        }
    
        .text-main {
            color: white;
            text-decoration: none;
            pointer-events: none;
        }

        img {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            left: 0%;
            border-radius: 9999px;
            cursor: pointer;
        }
    
    }

    .descriptor {

        font-size: calc( var(--scale) * 3px );

        line-height: 1.2;
        text-align: left;

        overflow: visible;
        position: absolute;
        top: 0%;
        left: 110%;
        background-color: globals.$section-background;
        z-index: 10;
        width: 200%;
        padding: calc( var(--scale) * 2px ); // idk how copilot guessed this

        box-sizing: border-box;

        filter: drop-shadow( 0 0 calc( var(--scale) * 2px ) black );

        a {
            text-decoration: none; // underlines are broken in this context
        }

        .a {
            color: globals.$a-untouched;
            cursor: pointer;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 10%;
            aspect-ratio: 1 / 1;
            background-color: globals.$section-background;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%) rotate(45deg);
            clip-path: polygon(0 0, 0 100%, 100% 100%);
        }

        .inside {
            --background-art: linear-gradient(globals.$section-1x, globals.$section-1x);

            box-sizing: border-box;
            display: flex;

            .user-bio {
                white-space: pre-line;
            }

            padding: calc( var(--scale) * 1px );

            background-color: #494949d0;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--background-art);
                background-position: center;
                background-size: auto 100%;
                z-index: -1;

                // filter: blur( calc(1px * var(--scale)) );
            }
        }
    }

    

}