.redstone > .front {
    background-image: url('/assets/skilltree/redstone.svg');
}
.redstone > div {
    background-color: #5f2b2b;
}

.mindstorms > .front {
    background-image: url('/assets/skilltree/mindstorms.svg');
}
.mindstorms > div {
    background-color: #4b4b4b;
}

.expression2 > .front {
    background-image: url('/assets/skilltree/expression2.svg');
}
.expression2 > div {
    background-color: #2e2e2e;
}

.lua > .front {
    background-image: url('/assets/skilltree/lua.svg');
}
.lua > div {
    background-color: #242950;
}

.code > .front {
    background-image: url('/assets/skilltree/codeorg.svg');
}
.code > div {
    background-color: #386c6d;
}

.js > .front {
    background-color: #706425;
}
.js > .back {
    background-color: #776b35;
}

.nodejs > .front {
    background-image: url('/assets/skilltree/nodejs.svg');
}
.nodejs > div {
    background-color: #244225;
}

.html > .front {
    background-image: url('/assets/skilltree/html.svg');
}
.html > div {
    background-color: #543026;
}

.css > .front {
    background-image: url('/assets/skilltree/css.svg');
}
.css > div {
    background-color: #27314d;
}

.electron > .front {
    background-image: url('/assets/skilltree/electron.svg');
}
.electron > div {
    background-color: #353d4b;
}

.java > .front {
    background-image: url('/assets/skilltree/java.svg');
}
.java > div {
    background-color: #572629;
}

.c > .front {
    background-image: url('/assets/skilltree/c.svg');
}
.c > div {
    background-color: #263652;
}

.arduino > .front {
    background-image: url('/assets/skilltree/arduino.svg');
}
.arduino > div {
    background-color: #34696d;
}

.illustrator > .front {
    background-image: url('/assets/skilltree/illustrator.svg');
}
.illustrator > div {
    background-color: #5a3c27;
}

.photoshop > .front {
    background-image: url('/assets/skilltree/photoshop.svg');
}
.photoshop > div {
    background-color: #20395d;
}

.gimp > .front {
    background-image: url('/assets/skilltree/gimp.svg');
}
.gimp > div {
    background-color: #496177;
}

.aftereffects > .front {
    background-image: url('/assets/skilltree/aftereffects.svg');
}
.aftereffects > div {
    background-color: #432f5a;
}

.premiere > .front {
    background-image: url('/assets/skilltree/premiere.svg');
}
.premiere > div {
    background-color: #553066;
}

.audacity > .front {
    background-image: url('/assets/skilltree/audacity.svg');
}
.audacity > div {
    background-color: #6a6554;
}

.drums > .front {
    background-image: url('/assets/skilltree/sticks.svg');
}
.drums > div {
    background-color: #55462f;
}

.lego > .front {
    background-image: url('/assets/skilltree/technic.svg');
}
.lego > div {
    background-color: #64412b;
}

.autodesk > .front {
    background-image: url('/assets/skilltree/123d.svg');
}
.autodesk > div {
    background-color: #2b5e68;
}

.knex > .front {
    background-image: url('/assets/skilltree/knex.svg');
}
.knex > div {
    background-color: #3b5040;
}

.woodworking > .front {
    background-image: url('/assets/skilltree/woodworking.svg');
}
.woodworking > div {
    background-color: #695431;
}

.printing > .front {
    background-image: url('/assets/skilltree/printing.svg');
}
.printing > div {
    background-color: #724a33;
}

.blender > .front {
    background-image: url('/assets/skilltree/blender.svg');
}
.blender > div {
    background-color: #5c3821;
}

.sketchup > .front {
    background-image: url('/assets/skilltree/sketchup.svg');
}
.sketchup > div {
    background-color: #684040;
}

.bootstrap > .front {
    background-size: 80%;
    background-image: url('/assets/skilltree/bootstrap.svg');
}
.bootstrap > div {
    background-color: #34274b;
}

.regex > .front {
    background-image: url('/assets/skilltree/regex.svg');
}
.regex > div {
    background-color: #333333;
}

.ubuntu > .front {
    background-image: url('/assets/skilltree/ubuntu.svg');
}
.ubuntu > div {
    background-color: #2e1425;
}

.bash > .front {
    background-image: url('/assets/skilltree/bash.svg');
}
.bash > div {
    background-color: #214220;
}