<div class ="nav">
    <div class="home" id="home"><span>FAST'S CODE CREATIONS</span></div>
    <div class="pages" id="pages">
        <div class="dropdown">
            <span style="transform: translateZ(2px);">Contact Me</span>
            <div class="dropdown-content">
                <a href="https://discord.com/users/276913653230469122/" target="_blank">
                    <img src="assets/icons/discord.svg" class="icon"/>
                    <span>Discord</span>
                </a>
                <a href="https://github.com/Fasteroid/" target="_blank">
                    <img src="assets/icons/github.svg" class="icon"/>
                    <span>Github</span>
                </a>
            </div>
        </div>
        <a href=../aboutme.html><span>About Me</span></a>
        <a href=../index.html><span>Todo List</span></a>
        <div class="dropdown">
            <!--<a style="transform: translateZ(2px);" href=../test2.html><span>Expression 2</span></a>-->
            <span>Expression 2</span>
            <div class="dropdown-content">
                <a href=../raytracer.html>
                    <span>Raytracer</span>
                </a>
            </div>
        </div>
    </div>
</div>