.ptable {

    // ty stackoverflow: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
    -webkit-touch-callout: none;  /* iOS Safari */
    -webkit-user-select  : none;  /* Safari */
    -khtml-user-select   : none;  /* Konqueror HTML */
    -moz-user-select     : none;  /* Old versions of Firefox */
    -ms-user-select      : none;  /* Internet Explorer/Edge */
    user-select          : none;  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 4px;
    
    aspect-ratio: 18 / 7;
    
    width: 100%;

    .element {

        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        aspect-ratio: 1 / 1;

        width: 100%;
        height: 100%;
        box-sizing: border-box;

        padding: 5px;

        border-radius: 6px;
        background-color: rgb(59, 41, 63);

        &:hover {
            background-color: rgb(59, 41, 63, 0.8);
        }
        
        &:active {
            background-color: rgb(59, 41, 63, 0.6);
        }

    }
}