.alkali-metal {
    --category-color: #992121;
}

.alkaline-metal {
    --category-color: #b45a11;
}

.transition-metal {
    --category-color: #a78800;
}

.metalloid {
    --category-color: #009fa5;
}

.post-transition-metal {
    --category-color: #148a28;
}

.nonmetal {
    --category-color: #2e78bd;
}

.noble-gas {
    --category-color: #8c52ce;
}

.lanthanide {
    --category-color: #8060d6;
}

.actinide {
    --category-color: #c0447e;
}

.synthetic {
    --category-color: #555555;
}
